body { background-color:powderblue}
#id1
{
    background-color: blueviolet;
    color: rgb(35, 27, 25);
    font-size: 20px;
}
.cen
{
    text-align: center;
}
p { color:tomato;
border:2px solid gray;
padding:10px;
margin: 10px;
}
p,h1,pre{
    border: 2px solid white;
}
pre { 
    color:red; 
    font-size:20px;
    background-image: url('bg.jpg');
    background-size:cover ; }

h1 {
    color:tomato;
    font-size:15px;
    font-family: verdana;
}

h2 {
    color: blue;
    font-size: 15px;
    font-family: Courier New;
}

a:link {
    color: green;
    background-color: turquoise;
    text-decoration: none;
}

a:visited {
    color: red;
    background-color: azure;
    text-decoration: none;
}

a:hover {
    color: pink;
    text-decoration: underline;
    background-color: antiquewhite;
}

a:active{
    color: yellow;
    background-color: aquamarine;
    text-decoration: underline;
}
footer{
    background-color: darksalmon;
    padding: 10px;
    text-align: center;
    color: rgb(255, 0, 0);
}

